
/* Landing Page */


#buttonsBox{
  background-color: yellow
}

/* Basic Page */
.header{
  border: 2px solid black;
  display: flex;
  text-align: center;


}


.nameBox{
  width: 50%;
  height: 200px;
  border: 2px solid black;
  background-color: yellow;
}

.imageBox{
  width: 50%;
  height: 200px;
  background-color: red;
  border: 2px solid black;
}
