.img-left{
    float: left;
}

.small-padding{
    padding: 10px;
}

.languageBox{
    text-align: center;
} 

.place{
    float: left;
    width: 30%;
    margin: 1em;
    
  }
  
  .img-left{
    float: left;
  }
  
  .img-right{
    float: right;
  }
  
  .small-padding{
    padding: 10px;
  }
  
  @media only screen and (max-width: 1100px) {
    .historicPlaceBox {
      display: grid;
    }
  
    .place{
      width: 100%;
      margin: 1em;
    }
    .move{
      float: left;
    }
  }